@import url("src/style/constants.css");

.tx-section {
    padding: 24px 3% 0 50px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:640px) {
    .tx-section {
        padding: 24px 3% 0 22px;
    }
}

@media screen and (min-width:640px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {}

@media screen and (min-width:1280px) {}

@media screen and (min-width:1441px) {}