@import url("src/style/constants.css");

.container-sidebar {
    background-color: var(--background-sidenav);
    display: flex;
    flex-direction: column;
    padding-left: 27px;
    border-radius: 0px 20px 10px 0px;
}

.title-sidebar {
    display: flex;
    align-items: center;
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    border-bottom: 1px solid var(--secondary-gray);
    padding: 29px 0 20px 0;
}

.title-sidebar-big-version {
    display: flex;
    align-items: center;
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    padding: 29px 0 20px 0;
}

.container-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.container-list-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.list-menu-sidebar {
    display: flex;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.sidebar-name-list-menu {
    display: block;
    color: var(--primary-gray);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.sidebar-name-list-menu:hover {
    color: var(--third-gray);
}

.sidebar-active {
    color: var(--primary-blue);
}

.sidebar-name-list-menu.sidebar-name-list-menu-show {
    display: block;
}

.sidebar-open-svg {
    display: none;
    margin-bottom: 38px;
}

.openCLose-svg {
    cursor: pointer;
}

@media screen and (max-width:640px) {
    .container-sidebar {
        padding-left: 20px;
    }

    .title-sidebar {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        border-bottom: none;
        padding: 29px 0 20px 0;
    }

    .sidebar-name-list-menu {
        display: none;
    }

    .sidebar-open-svg {
        display: block;
    }
}

@media screen and (min-width:640px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {}

@media screen and (min-width:1280px) {}

@media screen and (min-width:1441px) {}