@import url("src/style/constants.css");

.section-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

@media screen and (max-width:640px) {
    .section-auth {
        gap: 0px;
    }
}

@media screen and (min-width:640px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {}

@media screen and (min-width:1280px) {}

@media screen and (min-width:1441px) {}